<div class="row">
  <div class="container">
    <h1>Competition Details</h1>
    <p>
      <strong>Start Date:</strong>
      <%= @competition.start_date %>
    </p>
    <p>
      <strong>End Date:</strong>
      <%= @competition.end_date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @competition.location %>
    </p>

    <p>
      <strong>Teams:</strong>
      <%= @competition.team_names %>
    </p>

    <p>
      <strong>Details:</strong>
      <%= @competition.about %>
    </p>

    <%= link_to "View Participants", users_path, :class => "btn btn-success btn-lg" %>
<h2>Participants</h2>
<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <% @competition.users.uniq.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
  </tr>
  <% end %>
  </div>
</div>
