<div class="row">
  <div class="container">
    <h1>Competition Details</h1>
    <p>
      <strong>Start Date:</strong>
      <%= @competition.start_date %>
    </p>
    <p>
      <strong>End Date:</strong>
      <%= @competition.end_date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @competition.location %>
    </p>

    <p>
      <strong>Details:</strong>
      <%= @competition.details %>
    </p>

    <%= link_to "View Participants", users_path, :class => "btn btn-success btn-lg" %>
<h2>Participants</h2>
<table class="table">
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
  </tr>
  <% @competition.participants.uniq.each do |participant| %>
  <tr>
    <td><%= participant.email %></td>
    <td><%= participant.name_first %></td>
    <td><%= participant.name_last %></td>
    <td><%= participant.phone %></td>
  </tr>
  <% end %>
  </div>
</div>
