<div class="row">
  <div class="container">
    <h1>Stage Listing</h1>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Week</th>
        <th>Short Code</th>
        <th>View Stage Info</th>
      </tr>

      <% @stages.each do |stage| %>
        <tr>
          <td><%= stage.id %></td>
          <td><%= stage.name %></td>
          <td><%= stage.short_code %></td>
          <td><%= link_to 'Show', stage_path(stage) %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= link_to "Create Competition", new_competition_path %> | <%= link_to "Return Home", root_path %>
    </p>
  </div>
</div>
